/*
=========================
    generic style
=========================
*/

* {
    box-sizing: border-box;
    margin-left: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
}


/*
=========================
    header
=========================
*/


/*--NAVIGATION-----*/

nav {
    margin-right: 10em;

}

ul {
  list-style: none;
  margin-bottom: -8em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  position: relative;
  bottom:  5em;
  left: 5.2em;


}

ul a {
  text-decoration: none;
  display: block;
  padding: 1em;
}



/*--header background-----https://unsplash.com/@javiercanada
*/

header {
    height: 19em;
    width: 100%;
    background-image: url(../images/javier-canada-300092.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0em 2.1em;
}

a>img {
    max-width: 15em;
    margin-left: .5em;
}

header > h2 {
    font-family: "Nexa bold", sans-serif;
    color: #00d66c;
    background-color: white;
    opacity: .9;
    margin-left: 1em;
    margin-right: 3em;
    margin-top: 2em;
    padding: .5em .2em .5em;
    border-radius: 5px;
}


/* zoekform*/

.zoekform {
    margin-bottom: 1.5em;
    margin-left: 2em;
}

#zoek {
    width: 13em;
    height: 2.5em;
    border-radius: 7px;
    border-color: #2800a0;
}

input {
    color: white;
    opacity: .85;
    font-family: "Nexa bold", sans-serif;
    font-size: 1em;
    padding-left: 1em;
}

#submit {
    background-color: #2800a0;
    opacity: 1;
    border-color: #2800a0;
    border-radius: 4px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: .6em;
    padding-top: .6em;
}


/*
=========================
    main
=========================
*/

/*
==========================================================================
Mobile
========================================================================== */
@media only screen and (max-width: 45em) {
   .img7 {
    display: block;
    width: 100%;
    height: 100%;
    }

.img8 {
    display: none;
      }

.img9 {
    display: none;
      }
}

/*
==========================================================================
 TABLETS
========================================================================== */
@media only screen and (min-width: 45em) {
.img7 {
    display: none;
    }

.img8 {
    display: block;
    width: 100%;
    height: 100%;
      }

.img9 {
    display: none;
      }
}

/*
==========================================================================
Desktop SCREENS
========================================================================== */
@media only screen and (min-width: 70em) {
.img7 {
    display: none;
    }

.img8 {
    display: none;
      }

.img9 {
    display: block;
    width: 100%;
    height: 100%;
      }
}

/*
=========================
  footer
=========================
*/

footer {
    background: rgba(247, 247, 247, 247);
    height: 5em;
    width: 100%;
    margin-top: em;
}

footer>img {
    margin-top: 1.5em;
    margin-left: 2em;
    max-width: 10em;
}



/*
==============================
header media queries: tablet
==============================
*/

@media all and (min-width: 45em) {
    header>h2 {
        margin-right: 20em;
        padding: .5em .4em .4em;
        font-size: 1.6em;
        line-height: 1.125em;
        opacity: 1;
    }
}


/*
==============================
header media queries: desktop
==============================
*/

@media all and (min-width: 60em) {
    header {
        height: 30em;
        opacity: 1;
    }
}

@media all and (min-width: 60em) {
    header>h2 {
        margin-right: 25em;
        padding: .5em .5em 1em;
        font-size: 2.5em;
        line-height: 1.125em;
    }
}





/*
==============================
zoekbalk media queries: desktop
==============================
*/

@media all and (min-width: 60em) {
    #zoek {
        width: 20em;
        height: 2.5em;
        border-radius: 7px;
        border-color: #2800a0;
    }
}




